@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "../abstracts/functions";

.btn-standard {
  padding: functions.rem(10) functions.rem(40);
  margin-top: functions.rem(10);
  color: variables.$primary-text-color;
  background-color: variables.$btn-color;
  font-weight: 700;
  font-size: functions.rem(variables.$font-size-xs);
  border-radius: 25px;
  border: 2px solid variables.$primary-text-color;
  @include mixins.buttonTransition;
  white-space: nowrap;
  &:hover {
    background-color: variables.$btn-hover-clr;
  }
}
