$body-bg-color: #050816;
$background-color: #151030;
$nav-bg-color: #000;
$box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
$primary-text-color: #ffffff;
$secondary-text-color: #aaa6c3;
$btn-color: transparent;
$btn-hover-clr: #ab4967;
$font-size-base: 16;
$font-size-xs: 14;
$font-size-sm: 18;
$font-size-md: 24;
$font-size-lg: 32;
$font-size-xl: 60;

$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;
