@use "../../abstracts/mixins";
@use "../../abstracts/variables";

.form-section {
  padding: 40px 0;
  background: variables.$background-color;
  color: variables.$primary-text-color;
  .form-wrapper {
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: variables.$box-shadow;
    .contact-form {
      // @include flexDirection(column);
      @include mixins.flexBox(column, null, null);
      input,
      select,
      textarea {
        appearance: none;
        padding: 10px;
        margin: 10px 0;
        background-color: variables.$background-color;
        color: variables.$primary-text-color;
        border: 1px solid variables.$secondary-text-color;
        border-radius: 15px;
        font-size: variables.$font-size-base;
        &:focus {
          border: 1px solid variables.$btn-hover-clr;
          outline: none;
          background-color: transparent;
        }
      }
    }
  }
  img {
    border-radius: 50%;
  }
}
@include mixins.responsive('sm-devices') {
  .form-section {
    img {
        display: none;
    }
  }
}
