@use "../../abstracts/mixins";
@use "../../abstracts/variables";

.navbar-wrapper {
  position: fixed;
  top: 10px;
  left: 50%;
  z-index: 10;
  background-color: variables.$nav-bg-color;
  box-shadow: variables.$box-shadow;
  color: variables.$primary-text-color;
  width: 60%;
  transform: translateX(-50%);
  padding: 0 30px;
  border-radius: 25px;
  box-shadow: variables.$box-shadow;
  @include mixins.flexBox(null, space-between, null);
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-toggle-burger {
    color: variables.$primary-text-color;
  }
  .navbar-ul {
    list-style: none;
    @include mixins.flexBox(row, null, null);
    gap: 24px;
    .navbar-link {
      color: variables.$primary-text-color;
      text-decoration: none;
      font-size: variables.$font-size-sm;
      line-height: 27px;
      font-weight: 500;
      @include mixins.buttonTransition;
      &:hover {
        color: variables.$btn-hover-clr;
        text-decoration: underline variables.$btn-hover-clr;
      }
    }
  }
}

@include mixins.responsive("lg-devices") {
  .navbar-wrapper {
    .navbar-ul {
      @include mixins.flexBox(column, null, center);
      padding: 10px 0 20px;
    }
  }
}
@include mixins.responsive("md-devices") {
  .navbar-wrapper {
    width: 100%;
    top: 0;
    border-radius: 0;
  }
}
@include mixins.responsive("sm-devices") {
  .navbar-link {
    font-size: variables.$font-size-xs;
  }
}
