.about-section {
  position: relative;
  background: url(/assets/img/main-bg.png) no-repeat center;
  background-size: cover;
  padding: 100px 0;
  color: $primary-text-color;
  .about-left {
    @include flexBox(column, null, null);
    align-items: flex-start;
    gap: 10px;
    h1 {
      color: $primary-text-color;
      line-height: 68px;
      span {
        color: $btn-hover-clr;
      }
    }
    p {
      font-size: $font-size-lg;
      line-height: 40px;
      font-weight: $font-weight-bold;
    }
  }
  .dot-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 64px;
    padding: 8px;
    border-radius: 24px;
    border: 4px solid $primary-text-color;
    @include flexBox(null, null, center);
    .dot {
      width: 10px;
      height: 10px;
      background-color: $primary-text-color;
      border-radius: 50%;
      animation: moveUpDown 2s ease-in-out infinite;
      @keyframes moveUpDown {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(20px);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
  }
}

@include responsive("lg-devices") {
  .about-section {
    .about-left {
      align-items: center;
      text-align: center;
    }
  }
}
@include responsive("sm-devices") {
  .about-section {
    .about-left {
      h1 {
        font-size: rem($font-size-lg);
        line-height: 32px;
      }
      p {
        font-size: rem($font-size-sm);
      }
    }
  }
}
@include responsive("md-devices") {
  .about-section {
    .dot-container {
      bottom: 10%;
    }
  }
}
