@use "../../abstracts/mixins";
@use "../../abstracts/variables";
@use "../../abstracts/functions";

.work-section {
  color: variables.$primary-text-color;
  text-align: left;
  padding: functions.rem(40) 0;
  p {
    font-weight: variables.$font-weight-regular;
    line-height: 30px;
    color: variables.$secondary-text-color;
  }
  .project-showcase-card {
    @include mixins.flexBox(column, null, null);
    height: 100%;
    gap: 10px;
    border-radius: 10px;
    padding: functions.rem(20);
    color: variables.$primary-text-color;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    background-color: variables.$background-color;
    .project-title {
      font-size: functions.rem(variables.$font-size-md);
      font-weight: variables.$font-weight-bold;
      line-height: 36px;
    }
    .project-overview {
      font-size: functions.rem(variables.$font-size-xs);
      font-weight: 400;
      line-height: 21px;
      color: variables.$secondary-text-color;
    }
    img {
      border-radius: 10px;
    }
  }
}
@include mixins.responsive("sm-devices") {
  .work-section {
    .project-showcase-card {
      .project-title {
        font-size: functions.rem(variables.$font-size-sm);
      }
    }
  }
}
